.footer {
    background-color: #333;
    color: #ddd;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    clear: both;
    margin-top: 10px;
}

.card-in {
    float: left;
    margin-left: 67px;
    margin-bottom: 20px;
}